%h1 Bestellrunden

%table.table.table-striped
  %thead
    %tr
      %th Start
      %th Ende
      %th Export

  %tbody
    - @bestellrunden.each do |bestellrunde|
      %tr
        %td= format_date(bestellrunde.starts)
        %td= format_date(bestellrunde.ends)
        %td= link_to 'export', export_bestellrunde_path(bestellrunde), class: 'btn btn-mini'

